body, html {
    height: 100%;
}

/* Gerneal */

.navbar {
    background-color: #fff;
    border-bottom: 15px solid #000;
    margin-bottom: 0;
}
.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    min-height: 30px;
    /*margin-top: 30px;*/
    padding: 5px 0;
    background: #000;
    font-size: 12px;
    color: #fff;
}
.footer a {
    color: #fff;
    text-decoration: underline;
}
.footer .footer-text {
    text-align: right;
    margin-right: 50px;
}
ul.nav.navbar-nav li a {
    color: #000;
}
.logo {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    width: 150px;
    color: red;
    /*border: 1px solid red;*/
    padding: 10px 5px;
}
.title {
    margin-top: 40px;
    font-family: Copperplate, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media screen and (max-width: 970px) {
    .title {
        clear: both;
    }
}
.title .name {
    font-size: 28px;
    margin: 0 0;
    line-height: 25px;
}
.title .site-name {
    font-size: 22px;
    margin: 0 0;
    line-height: 25px;
}
.dark-bg {
    background-color: #000;
    color: #fff;
}

.full-height {
    min-height: 630px;
}

.text-right-upper {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 20px;
    color: #fff;
}
.title-block {
    min-height: 120px;
}

.text-right-bottom {
    position: absolute;
    right: 40px;
    bottom: 40px;
    color: #fff;
}


/* index page */

.index-avatar-container {
    width: 300px;
    margin: 50px auto;
}

/* introduction page */

.intro-container {
    max-width: 450px;
    margin: 50px auto;
    max-height: 80%;
}
.intro-content {
    margin-top: 20px;
    text-indent: 40px;
    font-size: 16px;
}
.intro-content div {
    margin-top: 10px;
}
.quote-container {
    width: 80%;
    margin: 70px auto;
}
.intro-quote {
    color: #fff;
}
.intro-quote .quote-text {
    font-size: 18px;
}
.quote-row {
    color: #fff;
    padding: 5px 0;
}
.quote-row .quote-text {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
}

.text-strong {
    font-weight: bold;
}

/* University Appointment page */

.univ-table {
    /*max-width: 650px;*/
}
.table-responsive {
    border: none;
}
.table>tbody>tr>td {
    border-top: none !important;
}
.univ-table td {
    vertical-align: middle;
}
.univ-table .date-cell {
    max-width: 110px !important;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}
.univ-table .position-cell {
    max-width: 120px !important;
    text-align: center;
    vertical-align: middle;
}
.univ-table .school-cell {
    max-width: 250px !important;
    text-align: center;
    vertical-align: middle;
}
.univ-table .desc-cell {
    text-align: left;
    padding-left: 10px;
}
.univ-table .univ-logo-cell {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}
img.univ-logo {
    max-height: 95px;
    max-width: 95px;
}

table .sep-row {
    height: 20px;
}
.quote-row-side {
    margin-top: 250px;
}
.quote-row-side .quote-text {
    padding: 15px 10px;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .quote-row-side {
        margin-top: 10px !important;
    }
}

/* Education page */

.edu-row {
    margin-top: 30px;
    font-size: 16px;
}
@media screen and (min-width: 750px) {
    .img-valign-helper {
        width: 100px;
        height: 30px;
    }
}

/* China Experiences page */

.exp-row {
    margin-top: 20px;
}

/* Presentation page */

.pre-container {
    max-width: 600px;
    margin: 20px auto;
}

/* Speaking Engagement page */

.sp-row {
    margin-top: 5px;
}

.sp-row .quote-text {
    padding: 10px 0;
    font-size: 16px;
}

.mwca-container {
    width: 200px;
    margin: 10px auto;
}
.mwca-container .caption {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .mwca-container {
        float: none !important;
    }
}

/* Contact page */

.contact-link-block {
    font-size: 30px;
    height: 180px;
}
.contact-link-block a {
    margin-top: 30px;
    color: #fff;
}
.contact-link-block a h1 {
    padding-top: 15px;
}
.contact-avatar-container {
    margin: 300px auto 0 auto;
    width: 200px;
}
.contact-avatar-container img {
    width: 200px;
}
@media screen and (max-width: 768px) {
    .contact-link-block {
        height: 100px;
    }
}
@media screen and (min-width: 750px) {
    .contact-avatar-container img {
        width: 150px;
    }
    .contact-avatar-container {
        width: 150px;
    }
}
@media screen and (min-width: 970px) {
    .contact-avatar-container img {
        width: 200px;
    }
    .contact-avatar-container {
        width: 200px;
    }
}
